.pokdexbox{
display: flex;
width: 300px;
height: 300px;
padding: 20px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 12px;
flex-shrink: 0;
border-radius: 20px;
border: 10px solid #4F5049;
background: #D9D9D9;
}

.pokeimage{
 width: 170px;
height: 170px;
flex-shrink: 0;
}
.pokedexname{
display: flex;
height: 37px;
flex-direction: column;
justify-content: center;
flex: 1 0 0;
color: #000;
text-align: center;
font-family: Quantico;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.pokedextypingdiv{
display: flex;
width: 254px;
height: 40px;
justify-content: center;
align-items: center;
align-content: center;
gap: 12px;
flex-shrink: 0;
flex-wrap: wrap;
}
.pokedextype{
display: flex;
width: 120px;
height: 40px;
padding: 6px 24px;
flex-direction: column;
justify-content: center;
align-items: center;
flex-shrink: 0;
border-radius: 20px;
}
.pokedextypestyle{
color: #FFF;
text-align: center;
font-family: Quantico;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.pokedexnum{
position: absolute;
left: 17px;
top: 17px;
}

.normal { background-color: #A8A77A; }
.fire { background-color: #EE8130; }
.water { background-color: #6390F0; }
.electric { background-color: #F7D02C; }
.grass { background-color: #7AC74C; }
.ice { background-color: #96D9D6; }
.fighting { background-color: #C22E28; }
.poison { background-color: #A33EA1; }
.ground { background-color: #E2BF65; }
.flying { background-color: #A98FF3; }
.psychic { background-color: #F95587; }
.bug { background-color: #A6B91A; }
.rock { background-color: #B6A136; }
.ghost { background-color: #735797; }
.dragon { background-color: #6F35FC; }
.dark { background-color: #705746; }
.steel { background-color: #B7B7CE; }
.fairy { background-color: #D685AD; }